<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Allow access to _next directory (sometimes blocked by default on some hosts)
  RewriteRule ^_next/ - [L]

  # If the requested file or directory exists, serve it
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # If it doesn't exist, try adding .html
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^(.*)$ $1.html [L]

  # Otherwise fallback to 404
  ErrorDocument 404 /404.html
</IfModule>
